<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.microblink.input"
    android:installLocation="auto"
    android:versionCode="8"
    android:versionName="2.0" >

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <application
        android:name="com.microblink.input.BlinkInputSampleApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppTheme">
        <activity
            android:name="com.microblink.input.CustomFieldByFieldScanActivity"
            android:theme="@style/Theme.AppTheme.FullScreen"
            android:label="@string/title_activity_scan"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.microblink.help.HelpActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.microblink.input.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
